---
import type { IconDefinition } from '@fortawesome/fontawesome-svg-core';
import Filter from '@components/Filter.astro';

interface Props {
  filters: { label: string; icon: IconDefinition; items: string[] }[];
}

const { filters } = Astro.props;
---

<div
  class='sticky top-[100dvh] z-20 col-span-full -mx-4 h-0 ease-in-out lg:col-span-3 lg:col-start-2 lg:-mx-12'
>
  <div
    class='translate-y-[calc(var(--filter)_*_-100%)] opacity-[var(--filter)] transition-all duration-300 lg:pb-4'
  >
    <div
      class='flex flex-col gap-1 overflow-clip bg-theme-900/80 py-3 pl-4 pr-0 drop-shadow-md backdrop-blur-xl lg:rounded-lg'
    >
      {filters.map((filter) => <Filter {...filter} />)}
    </div>
  </div>
</div>
