---
interface Props {
  value?: string;
}

const { value } = Astro.props;
---

{
  value && (
    <div
      data-year
      class='col-span-full place-self-center font-serif text-4xl font-thin text-theme-400 will-change-[opacity,_filter] md:col-span-1 md:col-start-1 md:text-5xl md:opacity-[var(--ramp)] md:blur-[calc((1_-_var(--ramp))_*_15px)] lg:text-6xl'
    >
      {value}
    </div>
  )
}
